body {
    background-color: hsl(0, 0%, 95%);
}

#vehicles {
    position: relative;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
}

.suvs {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5% 0 0 5%;
}

.sedans {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5% 5% 0;
}

.icons {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 10%;
}

button {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10%;
}

.paragraph-title {
    text-align: left;
    padding-left: 10%;
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display";
    font-size: 4rem;
}

.car-description {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10%;
    color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
    font-size: 1rem;
}

.car-card {
    position
}