body {
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
}

.top-circle {
    display: block;
    position: absolute;
    width: 100%;
    margin-left: -70%;
    margin-top: -70%;
}

.bottom-circle {
    position: absolute;
    width: 50%;
    margin-left: 50%;
    margin-top: 20%;
}

.profile-card {
    position: relative;
    padding-top: 25%;
    margin-left: 30%;
}

.card {
    border-radius: 5%;
}

.card-img-top {
    border-radius: 5% 5% 0 0;
}

.victor-image {
    position: relative;
    width: 35%;
    border-radius: 50%;
    margin-left: 134.5px;
    margin-right: 134.5px;
    margin-top: -67.5px;
    border: 5px solid;
    border-color: white;
}

.description-p {
    text-align: center;
}

.name {
    font-family: "Kumbh Sans";
    font-weight: 700;
    font-size: 1.5rem;
}

.age {
    font-family: "Kumbh Sans";
    font-weight: 400;
    font-size: 1.5rem;
    color: hsl(0, 0%, 59%);
}

.city {
    text-align: center;
    font-family: "Kumbh Sans";
    font-weight: 400;
    size: 1.3rem;
    color: hsl(0, 0%, 59%);
}

.numbers-bottom {
    text-align: center;
}

.statistics-text {
    margin-top: -14%;
    color: hsl(227, 10%, 46%);
}

.statistics-numbers {
    font-family: "Kumbh Sans";
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-size: 1.5rem;
}

.attributions {
    text-align: center;
    margin-top: 6%;
}