body {
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono";
}

.logo-col {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calculator-row {
    margin-top: 3rem;
    background-color: white;
}

.first-row-button,
.second-row-button {
    display: flex;
    justify-content: space-evenly;
}

.second-row-button {
    margin-top: 3rem;
}

.input-dollar {
    background: url("../images/icon-dollar.svg") 0.2rem 0.2rem;
    background-repeat: no-repeat;
}

.input-person {
    background: url("../images/icon-person.svg") 0.2rem 0.2rem;
    background-repeat: no-repeat;
    margin-bottom: 2.5rem;
}

.btn {
    width: 25%;
}

.text {
    margin-top: 2rem;
}

.left-section {
    padding-left: 2rem;
}