body {
    background-image: url("../images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    font-family: "Poppins";
}

.container {
    display: flex;
    align-items: center;
    min-height: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

.description {
    font-weight: 500;
}

h1,
.description {
    color: white;
}

.left-section {
    margin-right: 1rem;
}

.left-section,
.right-section {
    width: 50%;
}

.right-section {
    padding-top: 2rem;
}

span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

.form-background {
    margin-left: 1rem;
    padding: 0;
    background: white;
    justify-content: space-between;
    border-radius: 15px/15px;
    padding-top: 3rem;
    padding-bottom: 1rem;
    box-shadow: 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    text-align: center;
    margin-bottom: 2rem;
}

.btn,
.form-control {
    display: inline-block;
    width: 80%;
    height: 3.5rem;
    border-radius: 10px/10px;
}

.btn {
    background-color: hsl(154, 59%, 51%);
    border-color: hsl(154, 59%, 51%);
    box-shadow: 0 3px hsl(154, 59%, 41%);
}

.btn:hover {
    background-color: hsl(154, 59%, 80%);
    border-color: hsl(154, 59%, 80%);
    box-shadow: 0 3px hsl(154, 59%, 51%);
}

.terms-cond {
    font-size: 0.8rem;
    color: hsl(246, 25%, 77%);
}

.top-section {
    text-align: center;
    margin-left: 1rem;
    padding: 0;
    background: white;
    border-radius: 15px/15px;
    margin-bottom: 1.5rem;
    height: 4rem;
    background-color: hsl(248, 32%, 49%);
    color: white;
    box-shadow: 0 10px rgba(0, 0, 0, 0.5);
}

.top-text {
    font-size: 600;
    color: white;
}

.top-section-text {
    padding-top: 1.3rem;
}

.form-control::placeholder {
    color: hsl(249, 10%, 26%);
    font-size: 700;
}

.error-message {
    color: hsl(0, 100%, 74%);
    font-size: 0.8rem;
    text-align: right;
    margin-right: 3rem;
    visibility: hidden;
}

.error {
    color: red;
}

@media (max-width:375px) {
    .container {
        flex-direction: column;
        align-items: unset;
    }
    .top-section {
        width: 190%;
    }
    .form-background {
        width: 190%;
    }
    .left-section {
        width: 100%;
        margin-top: 5rem;
    }
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    .description {
        margin-top: 5rem;
        text-align: center;
    }
    .top-section-text {
        padding-top: 0.8rem;
    }
    .form-background {
        padding-bottom: 0;
    }
    .terms-cond {
        padding-bottom: 1rem;
    }
}