body {
    background-color: white;
}

.bg-header-desktop {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.c-logo {
    width: 10%;
}

.logo-col {
    text-align: center;
    margin-top: 10%;
}

.header-col {
    text-align: center;
    margin-top: 3%;
}

.header-text {
    margin-top: 3%;
    text-align: center;
}

.header-desc {
    margin-right: 26.3%;
    margin-left: 26.3%;
}

.download-button {
    margin-top: 3%;
}

.ios-button {
    text-align: right;
}

.btn {
    border-radius: 25px / 25px;
    border: 0px;
}

.ios-btn {
    background-color: hsl(171, 66%, 44%);
}

.ios-btn:hover {
    background-color: hsl(201, 11%, 66%);
}

.mac-btn {
    background-color: hsl(233, 100%, 69%);
}

.mac-btn:hover {
    background-color: hsl(201, 11%, 66%);
}

.snippets-header-col {
    text-align: center;
    margin-top: 8%;
}

.snippets-desc-col {
    margin-top: 3%;
}

.snippets-desc {
    margin-right: 26.3%;
    margin-left: 26.3%;
}

.monitor-col {
    margin-top: 5%;
    text-align: right;
}

.monitor-text-col {
    margin-top: 7%;
}

.monitor-text {
    margin-right: 60%;
}

.monitor-header {
    margin-top: 5%;
}

.devices-col {
    text-align: center;
}

.devices-image {
    margin-top: 3%;
}

.under-tablet-col {
    margin-top: 3%;
    text-align: center;
}

.tablet-header {
    text-align: center;
}