body {
    overflow: hidden;
    background-color: hsl(270, 20%, 96%);
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.left-side {
    position: relative;
    height: 800px;
    background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 350px 350px;
    margin-left: -100px;
    z-index: -1;
}

.right-side {
    z-index: -1;
    position: relative;
    height: 800px;
    background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    margin-top: 20%;
    border-radius: 350px 350px 0 0;
    margin-right: -100px;
    opacity: 0.2;
}