body {
    background-color: hsl(233, 47%, 7%);
}

#main-point {
    padding: 10%;
}

.description-left {
    border-radius: 5% 0 0 5%;
    background-color: hsl(244, 38%, 16%);
    color: white;
    width: 540px;
    height: 446px;
    padding: 0%;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    display: inline-block;
    padding-top: 10%;
    padding-left: 10%;
    font-family: "Inter";
    font-weight: 700;
    color: hsl(0, 0%, 100%)
}

span {
    color: hsl(277, 64%, 61%);
}

.description-row {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca";
}

.numbers-row {
    padding-top: 5%;
    padding-left: 14%;
    padding-right: 10%;
}


/* p {
    display: inline-block;
} */

.people-image {
    border-radius: 0 5% 5% 0;
}

.image-block {
    padding: 0%;
}

.insights-row {
    margin-top: 5px;
}

.statistics-bottom {
    padding-left: 10%;
    padding-top: 10%;
}

.statistics-numbers {
    margin-bottom: 0;
    font-family: "Inter";
    font-weight: 700;
    font-size: 2rem;
    color: hsla(0, 0%, 100%, 0.6);
}

.statistics-text {
    font-family: "Lexend Deca";
}

@media (max-width: 1255px) {
    .description-left {
        border-radius: 5% 5% 0 0;
    }
    .people-image {
        border-radius: 0 0 5% 5%;
    }
}

.attribution {
    text-align: center;
    color: white;
}