body {
    overflow: hidden;
    background-color: hsl(270, 20%, 96%);
}

.background {
    z-index: -1;
    position: relative;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    z-index: -1;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    z-index: -1;
}

.left-side {
    position: relative;
    height: 800px;
    background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 350px 350px;
    margin-left: -100px;
    z-index: -1;
}

.right-side {
    z-index: -1;
    position: relative;
    height: 800px;
    background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    margin-top: 20%;
    border-radius: 350px 350px 0 0;
    margin-right: -100px;
    opacity: 0.2;
}

.center-side {
    z-index: 1;
    margin-bottom: 14%;
}

.phone {
    background-color: white;
    margin-top: 50%;
    height: 70%;
    margin-left: -20%;
    margin-right: 35%;
    border-radius: 50px;
}