body {
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: "Kumbh Sans";
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.left-section {
    overflow: hidden;
}

.right-section {
    padding-left: 40px;
}

.center-section {
    background-color: hsl(240, 5%, 91%);
    border-radius: 20px/20px;
    position: relative;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-pattern-desktop {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 0;
    /* margin-left: -180px;
    margin-top: 80px; */
    overflow: hidden;
    margin-left: -280px;
}

.woman-online-desktop {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;
    /* margin-top: 40px;
    margin-left: -100px;
    overflow: hidden; */
    margin-top: -620px;
    margin-left: -120px;
}

.box-desktop {
    /* max-width: 100%;
    max-height: 100%; */
    z-index: 1;
    position: relative;
}

.bg-desktop {
    max-width: 100%;
    max-height: 100%;
}

.accordion {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 80px;
    border: 0px solid;
    background-color: hsl(240, 5%, 91%);
    outline: none;
}

.accordion-item {
    border: 0px solid;
    background-color: hsl(240, 5%, 91%);
}

.accordion-header {
    border: 0px solid;
    background-color: hsl(240, 5%, 91%);
}

.accordion-button {
    border: 0px solid;
    background-color: hsl(240, 5%, 91%);
}

.accordion-button:not(.collapsed) {
    background-color: hsl(240, 5%, 91%);
    color: hsl(237, 12%, 33%);
}

.accordion-button:hover {
    color: hsl(14, 88%, 65%);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

h1 {
    margin-top: 60px;
    font-weight: 700;
}