.header-col {
    margin-top: 10%;
}

.header-col,
.soon-header,
.subscribe-header {
    text-align: center;
}

.btn {
    border-radius: 25px/25px;
    width: 40%;
}

.form-control {
    border-radius: 25px/25px;
    width: 40%;
    height: 100%;
}